.navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding-top: 1rem;
    padding-bottom: 1rem;

    background-color: aliceblue;

}

.navegacao__logo{
    width: 5rem;
    padding-bottom: 1rem;


}

.navegacao__item{
    color: var(--cinza-medio);
    font-size: 16px;
    text-transform: uppercase;

    padding-left: 1rem;

}

@media screen and (min-width: 1024px) {
    .navegacao{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;

    
    }
    .navegacao__logo{
        padding-bottom: 0rem;
    }
    
}
